@model string[]

@using System.IO;

@{
    ViewData["Title"] = "Home";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <h3 class="mb-3">Smart Documents</h3>

            <a href="@Url.Action("Editor","Home")" class="btn btn-primary">New Smart Document</a>

            <ul class="list-group mt-3">
                @foreach (string file in Model) {
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold mb-3">@System.IO.Path.GetFileName(file)</div>
                            <a href="@Url.Action("Editor","Home", new { DocumentName = System.IO.Path.GetFileName(file) })" type="button" class="btn btn-primary btn-sm">Edit (Content)</a>
                            <a href="@Url.Action("Viewer","Home", new { DocumentName = System.IO.Path.GetFileName(file) })" type="button" class="btn btn-secondary btn-sm">View (Annotations)</a>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
